/* This is a placeholder for your module's CSS, if needed. /

/* Conflict resolution styles. */

div.xmodal.v1 .footer .button {
    opacity: 1;
}

.form-group label {
    color: #888;
    font-size: 12px;
    text-transform: uppercase;
}