<script type="text/javascript">
function dpukdpukRiskFactorAssessmentDataDataFreezeController() {
	var myComponent = {};
	myComponent.datatype="dpuk:dpukRiskFactorAssessmentData";
	myComponent.filtertype="DPUKRiskFactorAssessments";
	myComponent.experimentcount="$experimentCount";
	myComponent.fields={};
	myComponent.fields["dpuk:dpukRiskFactorAssessmentData/APOE"]=true;
	return myComponent;
};

function dpukdpukRiskFactorAssessmentDataHaveIBeenSelected() {
   var iHaveBeenSelected = false;
   var xsiType = "dpuk:dpukAssessmentData"; //Fields are merged with DPUKAssessmentData
   var idStr = xsiType+ "_experimentSelectionOpt";
   var inputElement = document.getElementById(idStr);
   if (inputElement != null) {
       if (inputElement.checked) {
		 iHaveBeenSelected = true;
	   }
   }
   return iHaveBeenSelected;
};


</script>

                    <li class="standard__row">
                      <div class="first__cell">
                        <span class="filter__element"><input type="checkbox" checked name="filter[]" id="dpukAssessmentOption5"/><label for="for"></label></span>
                      </div>
                      <div class="standard__cell">
                        <span>APOE Genotype</span>
                      </div>
                    </li>

