	<script type="text/javascript" src="$content.getURI("scripts/datafreeze/xnat_petSessionData.js")"></script>
	<script type="text/javascript">
	  PetSessionDataFreezeManagerInit("$project","$groups","$visits","xnat:petSessionData","$experimentName");
	</script>
